
.wrapper{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.title{
    margin: 0;
}

.title span{
    font-weight: 400;
}

.titleWrapper{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: rem(12px);
}

.logo{
    width: rem(28px);
}

.logoWrapper{
    display: flex;
    align-items: center;
    gap: rem(6px);
}

.logoWrapper span{
    font-family: sans-serif;
    color: #49b4e3;
    font-weight: 900;
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: rem(12px);
    padding: rem(10px) rem(12px);
    border-bottom: rem(1px) solid light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4));
}

.chat{
    flex: 1;
    max-width: rem(800px);
    box-sizing: border-box;
    padding: rem(12px);
    overflow-y: scroll;
    display: flex;
    flex-direction: column-reverse;
}

.body{
    display: flex;
    justify-content: center;
    flex: 1;
    overflow-x: scroll;
}

.placeholder{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.placeholder img{
    width: 300px;
    opacity: 0.08;
}



.input{
    flex: 1;
    max-width: 800px;
}

.footer{
    display: flex;
    flex-direction: column;
    gap: rem(12px);
    box-sizing: border-box;
    padding: rem(10px) rem(12px);
    border-top: rem(1px) solid light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4));
}

.inputWrapper{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.summaryInputWrapper{
    display: flex;
    align-items: center;
    justify-content: center;
}